/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import "bootstrap";

 .container {
  margin-left: 135px
}

.navbar .nav > li > a.brand {
  padding-left: 0px;
}

.quiet {
  color: #ababab;
}

div.nav_item {
  margin-left: 25px;
  float: left;
}

.label, .badge  {
  a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
  }
}

div.comment_votes {
  padding: 100px;
}

.nav-login {
  float: right;
  display: block;
  padding: 10px 20px 10px;
  margin-left: 30px;
  font-size: 15px;
  font-weight: 150;
}

.logout {
  float: right;
}

.btn.btn-custom {
    color: #f2edf2;
    background-color: #5cb88e;
    background-image: linear-gradient(to bottom, #97cc97, #419461);
    border-color: #3f7e8f #3E8F3E #3E8F3E;
}
.btn.btn-custom:hover {
    color: #f2edf2;
    background-color: #419461;
    background-image: linear-gradient(to bottom, #419461, #419461);
    border-color: #3f7e8f #3E8F3E #3E8F3E;
}
